{% extends "core/base.html" %}
{% load static %}

{% block title %}Add Post{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/add_post.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/includes/alert.css' %}">

{% endblock css %}

{% block content %}

    <section>
        {% if post_form.errors %}
            <div id="alert">
                <h2>Saving the post failed!</h2>
                <p>Please check the post form below.</p>
                <a href="#add_post-form" >Fix!</a>
            </div>
        {% endif %}
    </section>
    <section id="add_post-form">
        <h2>Add New Post</h2>
        
        {% if error %}
            <div id="alert">
                <h3>{{ error|slice:"8:24" }} {{ post_title|upper }}</h3>
            </div>
        {% endif %}
        

        <form action="{% url 'add-post' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for form_field in post_form  %}
                <div class="form-control {% if form_field.errors %}invalid{% endif %} border-0">
                    {{ form_field.label_tag}}
                    {{ form_field}}
                    {{ form_field.errors }}
                </div>
            {% endfor %}                
            <button>Save Post</button>
        </form>
    </section>

    <section id="add_tag">
        <div class="form-control border-0">
            <button><a href="{% url 'add-tag' %}">Add new tag</a></button>
        </div>
    </section>
{% endblock content %}
