{% extends "core/base.html" %}
{% load static %}
{% block title %} {{ post.title }} {% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/includes/alert.css' %}">

{% endblock css %}

{% block content %} 
    <section id="summary">
        
        <h2>{{ post.title }}</h2>

        <div>
            {% for tg in post_tag %}
                <span class="tag">{{ tg.caption }}</span>
            {% endfor %}

        </div>

        <div id="read-later">
            <form action="{% url 'read-later' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button>
                    {% if saved_for_later %}
                        Remove from "Read Later" List
                    {% else %}
                        Read Later
                    {% endif %}
                </button>
            </form>
        </div>
        
        <article>
            <img src="{{ post.images.url }}" alt="{{ post.title }}" >
            <address>By <a href="mailto: {{ post.author.email_address }}">{{post.author|capfirst}}</a></address>
            <div>
                Last update on <time>{{ post.date|date:'D d F Y' }}</time>
            </div>
        </article>
    </section>


    <main>
        <p>
            {{ post.content|linebreaks }}
        </p>
    </main>
    <section id="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h2>{{comment.user_name}}</h2>
                    <p>{{comment.text|linebreaks}}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        {% if comment_form.errors %}
            <div id="alert">
                <h2>Saving the comment failed!</h2>
                <p>Please check the comment form below.</p>
                <a href="#comment-form" >Fix!</a>
            </div>
        {% endif %}
    </section>

    <section id="comment-form">
        <h2>Your Comment</h2>
        <form  action="{% url 'postDetail-page' post.slug %}" method="POST" novalidate>
            {% csrf_token %}
            {% for form_field in comment_form  %}
                <div class="form-control {% if form_field.errors %}invalid{% endif %} border-0">
                    {{ form_field.label_tag}}
                    {{ form_field}}
                    {{ form_field.errors }}
                </div>
            {% endfor %}
            <button>Save Comment</button>
        </form>
    </section>
{% endblock content %}
