{% extends "core/base.html" %}
{% load static %}
{% block title %} {{ post.title }} {% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
{% endblock css %}

{% block content %} 

    <section id="summary">
        
        <h2>{{ post.title }}</h2>
        <div>
            {% for tg in post_tag %}
                <span class="tag">{{ tg.caption }}</span>
            {% endfor %}

        </div>
        <article>
            <img src="{{ post.images.url }}" alt="{{ post.title }}" >
            <address>By <a href="mailto: {{ post.author.email_address }}">{{post.author|capfirst}}</a></address>
            <div>
                Last update on <time>{{ post.date|date:'D d F Y' }}</time>
            </div>
        </article>
    </section>
    <main>
        <p>
            {{ post.content|linebreaks }}
        </p>
    </main>



{% endblock content %}
