{% extends "core/base.html" %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block css %}

    <link rel="stylesheet" href="{% static 'core/css/change_pass.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/includes/alert.css' %}">


{% endblock css %}

{% block content %} 
    <section id="change_pass-form">

        <h2>Set New Password</h2>

        <div>
            {% if messages %}
                    {% for message in messages %}
                        <h3 {% if message.tags %}class="message_{{message.tags}}" {% endif %} 
                            {% if message.tags == "error" %}
                                style="color: #d6000b;"
                            {% else %}
                                style="color: #28a745;"
                            {% endif %}  >{{message}}
                        </h3>
                    {% endfor %}
            {% endif %}
        </div>

        {{ change_pass.non_field_errors}}
        
        <form action="{% url 'change-password' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for form_field in change_pass %}
                <div class="form-control {% if form_field.errors %}invalid{% endif %} border-0">
                    
                    {{ form_field.label_tag}}
                    {{ form_field}}
                    {{ form_field.errors }}

                </div>
            {% endfor %}
            <button >Change Password</button>
        </form>

    </section>

{% endblock content %}



