{% extends "core/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block css %}

    <link rel="stylesheet" href="{% static 'core/css/includes/post.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    
{% endblock css %}

{% block content %}
     <section id="welcome">
        <header>
            <img src="{% static 'core/images/person.jpg' %}" alt="Atul - The Author Of The Blog" srcset="">
            
            <h2>
      
                {% if user %}
                    {{ user.first_name }} BLOG 
                {% endif %}
            
            </h2>
        </header>
        <section>
            {% if messages %}
                <div class="alert alert-success" role="alert">
                
                    {% for message in messages  %}
                        <h3 {% if message.tags %} class="{{message.tags}}" {% endif %} style="color: #28a745;">{{message}}</h3>    
                        
                    {% endfor %}
                </div>
            {% endif %}     
        </section>
    </section>


    <section id="latest_posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in posts  %}
                {% include "core/includes/post.html" %} 
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I love Programming, I love to help other and I enjoy exploring new technologies in 
            general!
        </p>
        <p>My goal is to keep on growing as a developer - And
            if I could help you do the same,I'd be veery happy!
        </p>
    </section>

{% endblock content %}
