{% extends "core/base.html" %}

{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/password_reset_confirm_form.css' %} ">

{% endblock css %}

{% block header %}{% endblock header %}

{% block content %}
    <section id="pass-reset-form">
        <h2>Password Reset Confirmation</h2>
        <form id="passwordForm"  method="post">
            {% csrf_token %}
            <div class="form-control border-0">
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="form-control border-0">
                <label for="confirm_new_password">Confirm New Password:</label>
                <input type="password" id="confirm_new_password" autofocus name="confirm_new_password" required>  
                <p id="message"></p>
            </div>

            <div class="text-center">

                <button type="submit" class="btn">Reset Password</button>

            </div>
        </form>
    </section>
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/password-reset-confirm.js' %}"></script>
{% endblock script %}

