{% extends "core/base.html" %}
{% load static %}

{% block title %} Set New Password{% endblock title %}

{% block css %}

    <link rel="stylesheet" href="{% static 'core/css/set_pass.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/includes/alert.css' %}">


{% endblock css %}

{% block content %} 
    <section id="set_pass-form">

        <h2>Set New Password</h2>

        <div>
            {% if messages %}
                    {% for message in messages %}
                        <h3 {% if message.tags %}class="message_{{message.tags}}" {% endif %} 
                            {% if message.tags == "error" %}
                                style="color: #d6000b;"
                            {% else %}
                                style="color: #28a745;"
                            {% endif %}  >{{message}}
                        </h3>
                    {% endfor %}
            {% endif %}
        </div>

        {{ set_pass.non_field_errors}}
        
        <form action="{% url 'set-password' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for form_field in set_pass %}
                <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                    
                    {{ form_field.label_tag}}
                    {{ form_field}}
                    {{ form_field.errors }}

                </div>
            {% endfor %}
            <button >New Password</button>
        </form>

    </section>

{% endblock content %}



