body {
    background-color: #e7e7e7;
}
    
#main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#add_post-form {
    margin: 7rem auto;
    margin-bottom: 2rem;
    width: 90%;
    max-width: 40rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

#add_post-form button {
    font: inherit;
    background-color: #390281;
    color: white;
    border: 1px solid #390281;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}

#add_post-form button:hover,
#add_post-form button:active {
    background-color: #4f0ba7;
    border-color: #4f0ba7;
}

.form-control {
    margin-bottom: 1rem;        
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.form-control input,
.form-control textarea, 
.form-control select {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#add_tag{
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

#add_tag button a{
    text-decoration: none;
    color: white;
}

#add_tag button {
    font: inherit;
    background-color: #390281;
    color: white;
    border: 1px solid #390281;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}